* {
}
 
.lucid-font {
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
   "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* multiple items selectors */
.center-align {
 text-align: center;
}
.uppercase {
 text-transform: uppercase;
}
.underline {
 text-decoration: underline;
}
.bold {
 font-weight: bold;
}
/* SCORE KEEPER */
.score-keeper {
 text-align: center;
}
/* ENTIRE BODY  */
div#entire-body {
 background-color: #466995;
 height: 650px;
}
/* USER CONATINER */
div#username {
 background-color: pink;
 position: relative;
 width: 200px;
 height: 50px;
 top: 0px;
 right: 0px;
}
div#pick-your-move {
 background-color: aquamarine;
 position: relative;
 width: 200px;
 top: 0px;
 right: 0px;
}
.choices {
 border: 2px solid #466995;
 margin: 10px;
}
.choices:hover {
 background-color: lightslategray;
}
/* VS CONATINER */
div#vs {
 background-color: green;
 position: relative;
 width: 200px;
 height: 50px;
 bottom: 515px;
 left: 400px;
}
div#results {
 background-color: antiquewhite;
 position: relative;
 width: 200px;
 height: 50px;
 bottom: 450px;
 left: 400px;
}
/* COMPUTER CONATINER */
div#computer {
 background-color: purple;
 position: relative;
 width: 200px;
 height: 50px;
 bottom: 653px;
 left: 800px;
}
/* Reset CONATINER */
div#reset {
 background-color: antiquewhite;
 width: 125px;
 height: 75px;
 left: 300px;
}
 

